{{ include('bien/_bien.html.twig') }}
<section class="bien">
    <div>
        <h1>{{ bien.dateCommande ? bien.dateCommande.format('%y year(s), %m month(s), %d day(s)') : '' }}</h1>
    </div>
    <div>
        <span>{{ bien.dateLivraison ? bien.dateLivraison.format('%y year(s), %m month(s), %d day(s)') : '' }}</span>
    </div>
    <div>
        <span>{{ bien.actif ? 'Yes' : 'No' }}</span>
    </div>
</section>