{% extends 'bases/bien_base.html.twig' %}

{% block title %}Bien index{% endblock %}

{% block body %}
    <section>
    <h1>Bien index</h1>
        {% for bien in biens %}
            {{ include('bien/_bien.html.twig') }}
        {% else %}
            <span>no records found</span>
        {% endfor %}
{% endblock %}

