{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main id="bienBase">
    <section class="bienIndex">
        {% for bien in biens %}
            {{ include('') }}
        {% endfor %}
    </section>
</main>
{% endblock %}
