{% extends 'base.html.twig' %}

{% block body %}
<main id="index">
    <section id="indexBien" class="index">
        <div>
            <h1>La Cerise - Cuisine du monde</h1>
        </div>
        <div>
            <p>Ego vero sic intellego, Patres conscripti, nos hoc tempore in provinciis decernendis perpetuae pacis habere oportere rationem. Nam quis hoc non sentit omnia alia esse nobis vacua ab omni periculo atque etiam suspicione belli?</p>
        </div>
        <button>
            <a href="">Lien</a>
        </button>
    </section>

    <section id="indexService" class="index">
        <div>
            <h1>La Cerise - Events</h1>
        </div>
        <div>
            <p>Ego vero sic intellego, Patres conscripti, nos hoc tempore in provinciis decernendis perpetuae pacis habere oportere rationem. Nam quis hoc non sentit omnia alia esse nobis vacua ab omni periculo atque etiam suspicione belli?</p>
        </div>
        <button>
            <a href="">Lien</a>
        </button>
    </section>

    <section id="indexMedia" class="index">
        <div>
            <h1>La Cerise - Sur le gateau</h1>
        </div>
        <div>
            <p>Ego vero sic intellego, Patres conscripti, nos hoc tempore in provinciis decernendis perpetuae pacis habere oportere rationem. Nam quis hoc non sentit omnia alia esse nobis vacua ab omni periculo atque etiam suspicione belli?</p>
        </div>
        <button>
            <a href="">Lien</a>
        </button>
    </section>
</main>
{% endblock %}