/* #FCF9FF whitePurple */

.container {

}

header {
    padding: 1rem;
    background-color: black;
}

header h1 {
    font-size: 6rem;
    color: purple;
}

nav {

}

nav a {
    font-size: 2rem;
}

main {
    padding: 2rem 6rem;
}

#indexResume{

}

#indexNav{

}

#indexNav > section {
    margin: 1rem 0;
    padding: 1rem;
}

#indexNav > section > div:nth-child(1) {
}

#indexNav > section > div:nth-child(2), #indexNav > section > button {
    margin: 1rem 0 0 1rem;
}


#indexBien {
    background-color: white;
}

#indexService {
    background-color: blue;
}

#indexMedia {
    background-color: red;
}



/*normalisation*/
a {
    color: initial;
    text-decoration: initial;
}