{% extends 'main_base_.html.twig' %}

{% block body %}
<main id="index">
    <section id="indexResume">
        <div>
            <h1>La Cerise...</h1>
        </div>
        <div>
            <p>
                Née quelque part en Provence, plus précisément dans le Var, nos labos se situent sur la commune de Signes entre Toulon et Marseille.
                Née aussi d'une envie de partager, La Cerise vous propose d'accompagner tout vos repas.
                De la petite collation entre midi et deux, en livraison ou en boutique, aux plus grands moments de votre vie, mariage (ou demande en mariage), anniversaire, etc, en passant par la cousinade au cabanon ou le diner d'affaire.
                Nous sommes à votre service et à votre écoute, n'hésitez pas à naviguer sur notre site ou à nous suivre sur nos page Facebook et Instagram, ou même à nous contacter directement par téléphone.
                Au plaisir de vous servir.
            </p>
        </div>
    </section>
    <section id="indexNav">
        <section id="indexBien" class="index">
            <div>
                <h1>La Cerise - Cuisine du monde</h1>
            </div>
            <div>
                <span>Vente à emporter et livraison à domicile</span>
            </div>
            <button>
                <a href="">Lien</a>
            </button>
        </section>

        <section id="indexService" class="index">
            <div>
                <h1>La Cerise - Events</h1>
            </div>
            <div>
                <span>Traiteur et cuisine à domicile (à parir de 2 personnes)</span>
            </div>
            <button>
                <a href="">Lien</a>
            </button>
        </section>

        <section id="indexMedia" class="index">
            <div>
                <h1>La Cerise - Sur le gateau</h1>
            </div>
            <div>
                <span>Atelier culinaire</span>
            </div>
            <button>
                <a href="">Lien</a>
            </button>
        </section>



    </section>
</main>
{% endblock %}