<nav class="navbar navbar-light navbar-expand-sm">
    <div class="container-fluid"><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav flex-fill justify-content-around">
                <li class="nav-item"><a class="nav-link active" href="#">Accueil</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Nos menus</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Nos prestations</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Médias</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>