    <section class="carteSemaine">
        <div>
            <h1>{{ produit.nom }}</h1>
        </div>
        <div>
            <span>{{ produit.description }}</span>
        </div>
        <div>
            <span>{{ produit.prix }}</span>
        </div>
    </section>
